 <div class="flex justify-center items-center h-screen ">
 <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="w-3/4">
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-orange-600">Edit Product</h1>
        </div>
        
            <label class="text-lg ">sku</label>
            <input  formControlName="sku"
               class="my-2 w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"   placeholder="Sku" />
            @if(editForm.get('sku')?.hasError('required')&&editForm.get('sku')?.touched){
                <span class="text-red-500 block mb-3">sku is required</span>
            }
            
        
            <label class="text-lg">Name</label>
            <input  formControlName="name" 
               class="my-2 w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"  placeholder="Name" />
            @if(editForm.get('name')?.hasError('required')&&editForm.get('name')?.touched){
                <span class="text-red-500 block mb-3">name is required</span>
            }
            @if(editForm.get('name')?.hasError('minLength')||editForm.get('name')?.hasError('maxLength')&&editForm.get('name')?.touched){
                <span class="text-red-500 block mb-3">name length must be 2 to 100 characters</span>
            }   
            
               <label class="text-lg">Description</label>
            <input  formControlName="description" 
               class="my-2 w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"  placeholder="description" />
            
               <label class="text-lg">price</label>
            <input  formControlName="price" type="number"
               class="my-2 w-full px-4 py-2 border border-gray-300 rounded-xl shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition duration-200"  placeholder="Price" />
            @if(editForm.get('price')?.hasError('min')&&editForm.get('price')?.touched){
                <span class="text-red-500 block mb-3">price cannot be negative</span>
            }


        <div class="flex gap-10">
            <button  type="submit" 
                class="w-50 bg-orange-600 mt-10 mb-3 py-2 rounded-xl text-white text-lg  hover:bg-orange-700 transition duration-200">Edit</button>
            <button  
                 class="w-50 flext justify-center bg-purple-600 mt-10 mb-3 py-2 rounded-xl text-white text-lg  hover:bg-purple-700 transition duration-200" routerLink="">Back to products</button>
        </div>
    </form>
     </div>